@model ProiectDAW.Models.Chapter

<h2 class="text-center mt-5">Editare capitol</h2>

<br />
 
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Chapters" asp-route-id="@Model.Id">
               <div class="form-group">
                    <label asp-for="ChapterTitle" class="form-label">Titlu Capitol</label>
                    <br />
                    <input asp-for="ChapterTitle" class="form-control" />

                    <!-- Mesaj de validare pentru titlu -->
                    <span asp-validation-for="ChapterTitle" class="text-danger"></span>

                    <br /><br />

                </div>

                
                <div class="form-group">
                    <label for="SubjectId">Selectati materia</label>
                    <br />
                    <select asp-for="SubjectId" asp-items="Model.Subj" class="form-control">
                        <option value="">Selectati materia</option>
                    </select>

                    <span asp-validation-for="SubjectId" class="text-danger"></span>

                    <br />
                </div>

                <button class="btn btn-sm btn-success" type="submit">Modifica articol</button>

            </form>


            <br/>
            <br/>
                <form method="post" asp-controller="Chapters" asp-action="Delete"
                 asp-route-id="@Model.Id">

                        <button class="btn btn-danger" type="submit">Sterge capitolul</button>

                </form>
            
        </div>
    </div>
</div>

