

<h1>Capitole</h1>

<hr/>
<br/>
<a class="btn alert-primary" asp-action="New" asp-controller="Chapters">Adauga capitol</a>
<br/>

@if(TempData.ContainsKey("message"))
{
    <h1>@TempData["message"]</h1>
    <br/>
}

<br/>

@foreach(var chapter in ViewBag.Chapters){
    <h3>@chapter.ChapterTitle</h3>
    <a class="btn alert-primary" asp-action="Edit" asp-controller="Chapters" asp-route-id="@chapter.Id">Editare capitol</a>
    <br/>

}