@model ProiectDAW.Models.Subject


<h2>Adaugare Materie</h2>


<form method="post" asp-action="New" asp-controller="Subjects">
    <div asp-validation-summary="All" class="text-danger"></div> 
    <div class="form-group">
        <label asp-for="Name" class="form-label">Denumire materie</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button class="btn btn-success" type="submit">Adauga materie</button>

</form>


