<h1>Clase in care se preda @ViewBag.Subject.Name<h1>

        <hr>
        <br />

        <br />

        @foreach (var grade in ViewBag.Grades)
        {
            <h3>@grade.GradeName</h3>
            <a class="btn alert-success" asp-action="Show" asp-controller="Grades" asp-route-id="@grade.Id">Afisare clase</a>
            <a class="btn alert-success" asp-action="Edit" asp-controller="Grades" asp-route-id="@grade.Id">Editare clase</a>
            <br />

        }
        @**@