@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4"><b><i>EduNextLVL</i></b></h1>
    <h2><b>Bun venit in lumea educatiei !</b></h2>
    <a class="btn btn-primary btn-lg rounded-pill" asp-action="Index" asp-controller="Subjects">Sa Inceapa Aventura!</a>


</div>
